{% extends "base.html" %}
{% block content %}
    <h2>Catálogo de Productos</h2>
    <table>
        <thead>
            <tr>
                <th>Código de Catálogo</th>
                <th>Nombre de Producto</th>
                <th>Colores Disponibles</th>
                <th>Talles Disponibles</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            {% for catalog in catalogs %}
                <tr>
                    <td>{{ catalog['codigoCatalogo'] }}</td>
                    <td>{{ catalog['nombreProducto'] }}</td>
                    <td>{{ catalog['colores'] | join(", ") }}</td>
                    <td>{{ catalog['talles'] | join(", ") }}</td>
                    <td><img src="{{ catalog['foto'] }}" alt="Foto de {{ catalog['nombreProducto'] }}" width="100"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}